#--------------------#
# Alien Index Config #
#--------------------#
PROGRAM 			= blast
BLASTFILE   		= Spathaspora_gorwiae_vs_nr.b6
QUERY_BLASTFILE		= Spathaspora_gorwiae_vs_Spathaspora_gorwiae.b6
QUERY2Sacch_BLASTFILE		= Spathaspora_gorwiae_vs_329_Saccharomycotina.b6
TAXDB 				= blastdbs
RECIPIENT 			= 147537
ANCESTRAL_LINEAGE 	= 4751
## hits_no is max number of hits that are not from the RECIPIENT group ##
HITS_NO 	= 300
E_VALUE 	= 1e-10
PREFIX   	= Spathaspora_gorwiae
